<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>3カラム応用</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="wrap">
    <header class="header">ロゴ画像</header>
    <div class="flex">
      <main class="main">
        <ul>
          <li>
            <a href="https://codelabo.net/training/layout/" target="blank">item1
            </a>
          </li>
          <li>
            <a href="https://codelabo.net/training/layout/" target="blank">item2
            </a>
          </li>
          <li>
            <a href="https://codelabo.net/training/layout/" target="blank">item3
            </a>
          </li>
          <li>
            <a href="https://codelabo.net/training/layout/" target="blank">item4
            </a>
          </li>
          <li>
            <a href="https://codelabo.net/training/layout/" target="blank">item5
            </a>
          </li>
          <li>
            <a href="https://codelabo.net/training/layout/" target="blank">item6
            </a>
          </li>
          <li>
            <a href="https://codelabo.net/training/layout/" target="blank">item7
            </a>
          </li>
          <li>
            <a href="https://codelabo.net/training/layout/" target="blank">item8
            </a>
          </li>
          <li>
            <a href="https://codelabo.net/training/layout/" target="blank">item9
            </a>
          </li>
          <li>
            <a href="https://codelabo.net/training/layout/" target="blank">item10
            </a>
          </li>
        </ul>
      </main>
      <div class="column">
        <div class="text">
          <ul>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
            <li>テキストテキストテキストテキスト</li>
          </ul>
        </div>
        <div class="sub title1">
          <h1>サブタイトル</h1>
            <p>product1 product2 product3 product4</p>
        </div>
        <div class="sub title2">
          <h1>サブタイトル</h1>
            <p>product1 product2 product3 product4</p>
        </div>
      </div>
      <div class="banner">バナー画像</div>
    </div>
    <footer class="footer">Copyright (C) 2018 テキストテキストテキストテキストテキストテキスト
    </footer>
  </div>
</body>
</html>